.current {
    color: green;
  }
body {
  background-image: linear-gradient(to bottom, #000000, #40E0D0);
  height: 100%;
}
h1 {
  color: #40E0D0; /* Change this to the color you want */
}

a {
color: #40E0D0; /* Change this to the color you want */
}