<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="icon" href="/assets/images/opal_icon.jpg" type="image/jpg">
    <link rel="stylesheet" href="/assets/css/about.css">
  </head>
  <body>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/chris-shobe/" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/ChrisShobe" target="_blank"><i class="fab fa-github"></i></a>
      <a href="mailto:chrisshobe2000@gmail.com"><i class="fas fa-envelope"></i></a>
  </div>
    {% include navigation.html %}
    {{ content }}
  </body>
</html>